.wallet {
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  background: var(--primary-color);
  margin-top: 40px;
  padding: 40px;
  background-image: url(../../assets/images/w-bg.svg), linear-gradient(180deg, var(--bg-gradient1) 0%, var(--bg-gradient2) 100%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
h1.w-title {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.w-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.w-btn {
  border-radius: 100px;
  background: #fff;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 20px;
  border: none;
  color: var(--gradient-blue);
}
.w-content {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 30px 50px;
}
svg.trophy {
  flex: 0.5;
  width: 178px;
  height: 178px;
}
.w-total {
  flex: 1;
}
.w-balance {
  flex: 1;
}
button.tatalEarn {
  background: linear-gradient(144deg, #fc58b3 0%, #feae68 100%);
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: navajowhite;
  padding: 5px 20px;
  border-radius: 30px;
}
button.balance {
  background: linear-gradient(144deg, #fc58b3 0%, #feae68 100%);
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: navajowhite;
  padding: 5px 20px;
  border-radius: 30px;
}
.w-total h1,
.w-balance h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.w-total p,
.w-balance p {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.418%; /* 19.61px */
}
.w-total div,
.w-balance div {
  margin-left: 25px;
}
svg.image1 {
    position: absolute;
    bottom: 0;
    left: 0;
}
svg.image2 {
    position: absolute;
    top: 120px;
    left: 50px;
}
svg.image3 {
    position: absolute;
    left: 250px;
    bottom: 90px;
}
svg.image4 {
    position: absolute;
    top: 30%;
    left: 42%;
}
svg.image5 {
    position: absolute;
    top: 15%;
    right: 40%;
}
svg.image6 {
    position: absolute;
    right: 70px;
}
