aside {
  border-right: 2px solid #f0f0f0;
  width: 320px;
  position: fixed;
}

/* Gradient SideBar */
/* 
  .g-overview {
    margin-top: 35px;
    background: linear-gradient(185deg, var(--gradient-pink) 0%, var(--gradient-blue) 100%);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 250px;
  }
  
  .g-wrapper {
    display: flex;
    padding: 18px;
    align-items: center;
    padding-left: 55px;
  }
  
  .g-eye {
    width: 16px;
    height: 11px;
    margin-right: 25px;
    cursor: pointer;
  }
  
  .g-text {
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    cursor: pointer;
    font-weight: 400;
  } */

/* Simple Sidebar */

.s-overview {
  color: var(--text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 250px;
  cursor: pointer;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.sidebar {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.s-wrapper {
  display: flex;
  padding: 15px;
  align-items: center;
  padding-left: 55px;
}

.s-eye {
  cursor: pointer;
  margin-right: 25px;
}

.s-text {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.refer {
  border: 0;
  outline: 0;
  background: transparent;
  color: #858585;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.logout {
  border: 0;
  outline: 0;
  background: transparent;
  color: #858585;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.account-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  align-items: flex-start;
  margin-left: 150px;
}

a {
  text-decoration: none;
}

.active {
  background: linear-gradient(
    185deg,
    var(--gradient-pink) 0%,
    var(--gradient-blue) 100%
  );
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  color: #fff;
}

.active a {
  color: white;
}

.active svg stop {
  stop-color: #fff;
}
