.container {
    margin-left: 320px;
    padding: 60px;
}
.containter-bar {
    display: flex;
    justify-content: space-between;
}
.right-side {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}
pre.left-sdie {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
p.account {
    color: var(--text-color);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}